services:
- docker

env:
  global:
  - DOCKER_REPO="frugalos"
  - DOCKER_IMAGE="frugalos"

jobs:
  include:
  - stage: deploy-to-github
    env:
    - FRUGALOS_IMAGE_NAME=frugalos-$TRAVIS_BUILD_ID-$TRAVIS_BUILD_NUMBER
    - FRUGALOS_EXECUTABLE1=$TRAVIS_BUILD_DIR/frugalos-0.11.0.by-rust1-33-0.with-jemallocator.linux-amd64
    - FRUGALOS_EXECUTABLE2=$TRAVIS_BUILD_DIR/frugalos-0.11.0.by-rust1-31-1.with-defaultallocator.linux-amd64
    script:
    - echo "Deploying to GitHub releases ..."
    - docker build -t $DOCKER_REPO/$DOCKER_IMAGE --build-arg FRUGALOS_BRANCH=master --build-arg RUST_VERSION=1.33.0 frugalos-build
    - docker run --name $FRUGALOS_IMAGE_NAME -d $DOCKER_REPO/$DOCKER_IMAGE /bin/true
    - docker cp "$FRUGALOS_IMAGE_NAME:frugalos/target/release/frugalos" "$FRUGALOS_EXECUTABLE1"
    - docker rm $FRUGALOS_IMAGE_NAME
    #
    - docker build -t $DOCKER_REPO/$DOCKER_IMAGE --build-arg FRUGALOS_BRANCH=default_allocator --build-arg RUST_VERSION=1.31.1 frugalos-build
    - docker run --name $FRUGALOS_IMAGE_NAME -d $DOCKER_REPO/$DOCKER_IMAGE /bin/true
    - docker cp "$FRUGALOS_IMAGE_NAME:frugalos/target/release/frugalos" "$FRUGALOS_EXECUTABLE2"
    deploy:
      provider: releases
      api_key:
        secure: h8ZAx2M0evjTW8BQ56n88nwd88mmxy0kHKsAdnM3oMgl1VHOeyypc0Zc7Cli+4YtGRjp5BwE+Mt/AdoWlDIWjjCC5S/U+/YSKRQiP5Gu4IBVa8F/d9wRvTHqxgGMBOoOz34gX5i3U45GLbYtqJDiSZyeZhW7iThaLU7TQd3itMtORI0PJqQiymmPTEi9pc01Kb7hHC+DdvNnYhV3+3JzeND9O6o+lYQbokr8N3vFcieFNAk4gOj65+AlrwW48P8r0YHdR1NGj9x14ElEumtQz6nx5FgaSLJuApc69AnQq5EELHzlKBjlfpAbAs2CCxfmu/x7d3HunCIDdwsv1LkqLbpH1pAZtfgDHgV3enPOPzB7iRvWl6OR6leUtmkCgeeKkX1KUsGitCerw0AmaV6EL/NzPp1Aysrew/hUlXkUhkHglv8GlB3HNcT72zlF6LW/iO8ov00QXBc5SYMRM1DEr3LOj+caZQAIFTXIr1TSocW4QO/K6MR0yAx7rIBf5KbdM4MyhFWlBIDYY4AgBk/WnM5EOrA7rKkQDXfKH3/EmsT/2vk3XnO7XFrAlQMXtrSqar/eIbsQEF87p3BYPUMHlBzVr7diXHnTWzddyc0XH/Q0+taUV9F+myQNb2G6c1jv2/p6LWyt8EizO18pspoloQvjOAxJnLuPywGNetbFzHY=
      file:
        - "$FRUGALOS_EXECUTABLE1"
        - "$FRUGALOS_EXECUTABLE2"
      skip_cleanup: true
      on:
        tags: false
        branch: frugalos_build
        repo: yuezato/frugalos
